<div class="well-title control-label">
	{{fieldLabel}} (Edit using <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>)
</div>
<div class="well well-sm">
    <textarea class="editor" id="{{field}}" placeholder="{{field}}">{{md fieldValue}}</textarea>
</div>
