<div class="well-title control-label">{{fieldLabel}}</div>
<div class="well well-sm">
    <select class="editor" id="{{field}}">
    	{{#each allowedValues}}
    		{{{selectOption this this ../fieldValue}}}
    	{{/each}}
    </select>
</div>
