<div class="well-title">{{fieldLabel}}</div>
<div class="well well-sm">
    <div class="status-value defects">
        <div class="status-icon NONE_CLOSED"/>
        <div class="count">{{fieldValue.Count}}</div>
    </div>
</div>
