<div class="well-title control-label">{{fieldLabel}}</div>
<div class="well well-sm">
    <div class="status-value defects">
        <div class="picto icon-defect"/>
        <div class="count">{{fieldValue.Count}}</div>
    </div>
</div>
