<div class="well-title control-label">
	{{fieldLabel}} (Edit using <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>)
</div>
<div class="well well-sm">
    <div class="html-field">{{{fieldValue}}}&nbsp;</div>
</div>