<div class="owner-field">
    {{#if fieldValue}}
        <div class="profile-image" style="background-image: url({{profileImageUrl fieldValue._ref 160}}); background-repeat: no-repeat; background-size: contain;"/>
        <div class="name ellipsis" title="{{fieldValue._refObjectName}}">{{fieldValue._refObjectName}}</div>
    {{else}}
        <div class="profile-image no-owner"/>
        <div class="name">Claim</div>
    {{/if}}
</div>
