<div class="well-title control-label">{{fieldLabel}}</div>
<div class="arrows-left">
    <div class="well well-sm lt{{#if cantGoLeft}} disabled{{/if}}"><i class="picto icon-chevron-left"></i></div>
</div>
<div class="arrows-center">
	<div class="well well-sm">
		{{fieldValue}}
	</div>
</div>
<div class="arrows-right">
    <div class="well well-sm gt{{#if cantGoRight}} disabled{{/if}}"><i class="picto icon-chevron-right"></i></div>
</div>
