<div class="arrows-left">
    <div class="well well-small lt{{#if cantGoLeft}} disabled{{/if}}"><i class="icon-angle-left"></i></div>
</div>
<div class="arrows-center">
	<div class="well well-small">
		{{fieldValue}}
	</div>
</div>
<div class="arrows-right">
    <div class="well well-small gt{{#if cantGoRight}} disabled{{/if}}"><i class="icon-angle-right"></i></div>
</div>
