<div class="well-title">{{fieldLabel}}</div>
<div class="well well-small titled-well-small">
    <div class="status-value tasks">
        <div class="status-icon DEFINED"/>
        <div class="count">{{fieldValue.NumberOfAllChildren}}</div>
    </div>
</div>
