<div class="well-title control-label">{{fieldLabel}}</div>
<div class="well well-sm titled-well-sm">
    <div class="status-value tasks">
        <div class="picto icon-task"/>
        <div class="count">{{fieldValue.Count}}</div>
    </div>
</div>
