<div class="well-title control-label">{{#if icon}}<div class="picto icon-{{icon}}"></div>{{/if}}{{fieldLabel}}</div>
<div class="well well-sm titled-well-sm">
    {{nonBreakingSpace fieldValue}}
</div>
