<div class="well-title control-label">Work Product</div>
<div class="well well-sm titled-well-sm">
	<span class="work-product-id">{{fieldValue.FormattedID}}</span>
	<span class="work-product-name ellipsis">{{fieldValue._refObjectName}}</span>
</div>
