
.detail-view {
    h3 {
        margin-top: 0;
    }
    .row-fluid{
        height: 50px;
    }

    input, textarea {
        width: auto;
        margin-bottom: 0;
    }

    textarea {
        height: 120px;
        width: 250px;
    }

    .html-field {
        height: 150px;
    }

    .owner-field {
        cursor: pointer;
        width: 60px;
        .profile-image {
            width: 100%;
            height: 60px;

            &.no-owner {
                background-image: url(/images/noOwner_2x.png);
                background-size: contain;
                background-repeat: none;
            }
        }
        .name {
            text-align: center;
        }
    }
}