.detail-view {
    h3 {
        margin-top: 0;
    }

    input, textarea {
        width: auto;
        margin-bottom: 0;
    }

    textarea {
        height: 120px;
        width: 250px;
    }

    .well {
        border-color: @medGrey;
        color: @darkGrey;
    }

    &.new {
        #save button {
            float: right;
        }
    }
}