.well-title {
	font-weight: bold;
	color: @darkGrey;

	.icon {
		float: left;
		width: 13px;
		height: 20px;
		margin-right: 4px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;

		&.task-todo {
			background-image: url(/img/todo_icon_2x.png);
		}
	}

	::after {
		clear: both;
	}
}

.status-value {
	height: 20px;

    > div {
        display: inline-block;
    }
}

.toggle {
	.well {
		background-color: @white;
		font-weight: bold;
		cursor: pointer;
	}

	&#BlockedView.on .well {
		background-color: @red;
		color: @white;
	}

	&#ReadyView.on .well {
		background-color: @green;
		color: @white;
	}
}

.display {
	.well {
		text-align: center;

		&.titled-well-small {
			height: 20px;
		}
	}

    .owner-field {
        cursor: pointer;
        .profile-image {
            width: 100%;
            height: 40px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            &.no-owner {
                background-image: url(/img/noOwner_2x.png);
            }
        }
        .name {
            text-align: center;
            color: @darkGrey;
            font-weight: bold;
        }
    }

    .html-field {
        min-height: 150px;
    }

    .discussion-field {

    	.icon {
	    	background-image: url(/img/discussion_icon_2x.png);
	        background-position: center center;
	        background-repeat: no-repeat;
	        background-size: contain;
	        color: @white;
	        width: 35px;
	        height: 40px;
	        line-height: 35px;
	        text-align: center;
	        font-weight: bold;
	        margin: auto;
    	}
    }

    .icon.task-todo {
    	background-image: url(/img/todo_icon_2x.png);
    }

	.arrows-left, .arrows-right {
		width: 15%;

		.well {
			cursor: pointer;
		    .border-radius(0);
		    text-align: center;
		    color: @cyan;
		    font-size: 20px;
		    font-weight: bold;

            &.disabled {
                color: @lightGrey;
                cursor: default;
            }
		}
	}

	.arrows-left .well {
		.border-left-radius(@baseBorderRadius);
		background-image: url(/img/blueArrow_left_2x.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50%;
		border-right: 0;

		&.disabled {
			background-image: url(/img/greyArrow_left_2x.png);
		}
	}

	.arrows-right .well {
		.border-right-radius(@baseBorderRadius);
		background-image: url(/img/blueArrow_2x.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50%;
		border-left: 0;

		&.disabled {
			background-image: url(/img/greyArrow_right_2x.png);
		}
	}

	.arrows-left, .arrows-center, .arrows-right {
		float: left;
	}
	.arrows-right::after {
		clear: both;
	}

	.arrows-center, .arrows-right {
	    margin-left: 0;
	}

	.arrows-center {
		width: 70%;

		.well {
			height: 20px;
		    text-align: center;
		    font-weight: bold;
		    .border-radius(0);
		}
	}
}
