@import "./_variables";

.btn {
  background-color: #FFFFFF;
  background-image: none;
}

.btn:hover {
    display: none;
}

#home-view-navigation {
  margin: 0 auto 20px auto;
  width: 290px;
  display: block;

  li.active.btn {
    background-color: @cyan;

    a {
      background-color: @cyan;
      color: #ffffff;
    }
  }

  a {
    color: @darkGrey;
    font-weight:bold;
  }

}

.home-view-wrap {
  margin: 0 auto;
  width: 90%;

  .ready {
    width: 16px;
    height:16px;
    background-image: url('/images/status/ready.png');
    background-repeat: no-repeat;
    position: relative;
    right: 8px;
  }

  .blocked {
    width: 16px;
    height:16px;
    background-image: url('/images/status/blocked.png');
    background-repeat: no-repeat;
    position: relative;
    right: 8px;
  }

  .btn-group {
    width: 100%;
    display: block;
  }

  .btn.btn-block {
    margin-top: 0px;
    padding-top: 15px;
  }

  .formatted-id {
    color: @cyan;
    font-weight:bold;
    display: inline;
  }

  .workitem-name {
    text-align: left;
  }

  .task-clock {
    padding: 0px 5px 2px 0px;
    background-image: url('/images/status/status-to-do.png');
    background-repeat: no-repeat;
  }

  .task-to-do {

  }

  .chevron {
    color: @cyan;
    font-size: 20px;
    font-weight: bold;
    // background-image: url('/images/chevron-right.png');
    // background-repeat: no-repeat;
  }
}