.listing {
  margin: 0 auto;

  .btn-group {
    width: 100%;
    display: block;
  }

  .btn {
    background-color: @white;
    background-image: none;
  }

  .btn.btn-block {
    margin-top: 0px;
    padding-top: 15px;
    text-align: left;
  }
}
