.navigation
{
  .summary 
  {
    text-align: center;
  }
  .buttons
  {
    margin-top: 20px;
    margin-left: 0px;

    button
    {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 4px;
    }

    .displayName
    {
      text-align: left;
      padding-top: 4px;
    }

    .icon
    {
      text-align: right;
    }
  }
}