.status-value {
  line-height: 20px;

  .status-icon{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    height: 20px;
    overflow: hidden;
    width: 20px;
  }

  &.tasks {
    .NONE {
      background-image: url('/img/status/status-dotted-12.png');
    }

    .DEFINED {
      background-image: url('/img/task_icon_2x.png');
    }

    .IN_PROGRESS {
      background-image: url('/img/status/status-inprogress.png');
    }

    .IN_PROGRESS_BLOCKED {
      background-image: url('/img/status/status-blocked.png');
    }

    .COMPLETED {
      background-image: url('/img/status/status-completed.png');
    }

    .COMPLETED_BLOCKED {
      background-image: url('/img/status/status-blocked.png');
    }

    .to-do {
      background-image: url('/img/status/status-to-do.png');
      width: 13px;
    }

    .count {
      margin-left: -6px;
    }
  }

  &.defects {
    .NONE {
      background-image: url('/img/status/status-dotted-12.png');
    }

    .NONE_CLOSED {
      background-image: url('/img/defect_icon_red_2x.png');
    }

    .SOME_CLOSED {
      background-image: url('/img/status/status-defect-active.png');
    }

    .ALL_CLOSED {
      background-image: url('/img/status/status-defect-closed.png');
    }

    .count {
      margin-left: -6px;
    }
  }
}

