@import "./variables";

body {
	background-color: @lightGrey;
}

#content {
  margin: 0 auto;
}

.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}