.board {

    .column {

        .header {
            background-color: @medGrey;
            text-align: center;
            line-height: 2em;
            margin-bottom: 10px;
        }

        .card {
            background-color: @white;
            color: @cyan;
            cursor: pointer;
            line-height: 2.5em;
            padding: 5px;
            margin-bottom: 3px;
            margin-top: 3px;
        }
	}

}