.board {

    .column-container {
        display: table;
        table-layout: fixed;

        width: 100%;

        .column-cell {
            display: table-cell;
            height: 100%;
            padding: 0 3px;
        }
    }
    .column {

        .header {
            background-color: @medGrey;
            text-align: center;
            line-height: 2.5em;
            margin-bottom: 10px;
        }

        .card {
            background-color: @white;
            color: @cyan;
            cursor: pointer;
            line-height: 2.5em;
            padding: 5px;
            margin: 5px 0;
        }
	}

}