.detail-view {
    padding-left: 10px;
    padding-right: 10px;
    
    h3 {
        margin-top: 0;
    }

    input, textarea {
        width: auto;
        margin-bottom: 0;
        border-width: 0;
        .box-shadow(none);
        background-color: transparent;
        color: @darkGrey;

        &:focus {
            outline: 0;
        }
    }

    input {
        border: 1px solid @medGrey;
        background-color: @white;
    }

    textarea {
        height: 120px;
        width: 250px;
    }

    .well {
        border-color: @medGrey;
        color: @darkGrey;
    }

    &.new {
        #save button {
            float: right;
        }
    }

    .hidden {
        display: none;
    }

    .col-xs-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}