.discussion-page {
    margin-left: 10px;
    margin-right: 10px;
}
.discussion-reply, .search-form > .input-row {
    display: table;
    width: 100%;
	margin-bottom: 20px;

    label {
        display: table-cell;
    }
    span {
        display: table-cell;
        width: 100%;
        padding: 0 10px 0 0;
    }
    button {
        display: table-cell;
    }
}

.discussion-item {
    color: @darkGrey;
    clear: left;
    cursor: default;

    .profile-link, .artifact-link {
    	color: @blue-link;
        font-family: @noto-sans-bold;
        font-size: .9em;
    }

	.profile-image {
		border: 0;
	    max-width: 50px;
	    max-height: 50px;
	    margin-right: 5px;
	    margin-bottom: 10px;
	    float: left;

        img {
            height: 40px;
            width: 40px;
        }
	}

	.recency {
        color: @grey6;
        margin-left: 5px;
	}

    .recency, .detail-text {
        font-family: @noto-sans;
        font-size: .8em;
        line-height: 1.4em;
    }

	.details {
		padding-left: 55px;

		.detail-text {
            padding: 5px 10px 5px 0;
		    word-wrap: break-word;
		    white-space: normal;
            color: @nearBlack;

		    ul li {
		        list-style-type: disc;
		        list-style-position: inside;
		    }

		    ol li {
		        list-style-type: decimal;
		        list-style-position: inside;   
		    }
		}
	}
}
