body {
  background-color: @lightGrey;
}

#site-container {
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}
#content {
  margin: 0 auto;
  padding: 50px 10px 0px 10px;
}

.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spinner {
  height: 50px;
  margin: 25px auto 0px auto;
}

.listing {
  .chevron {
    padding-left: 0;
    padding-right: 0;
  }
}

.chevron {
  line-height: 1em;
  height: 1em;

  i {
    color: @cyan;
    font-size: 2em;
    display: inline-block;
    margin-top: -.15em;
  }
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  clear: left;
  float: left;
  width: 70px;
  text-align: right;
  font-weight: normal;
}

dd {
  margin-left: 90px;
}
  
.iteration-header {

  .name {
    font-family: @noto-sans-bold;
  }

}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
