#home-view {

  .btn:hover {
      display: none;
  }

  #home-view-navigation {
    width: 230px;
    margin: 10px auto;

    .type {

      li {
        a {
          color: @darkGrey;
          font-weight:bold;
        }

        &.active {
          a {
            color: @white;
          }
        }        
      }
    }
  }

  .listing {
    .list-group-item {
      cursor: pointer;
    }
    .item {
      position: relative;
      padding-right: 10px;
    }

    .item-id-name {
      overflow: hidden;
    }

    .ready, .blocked {
      width: 22px;
      height: 22px;
      position: absolute;
      left: -11px;
      top: -3px;
      font-size: 1.5em;
    }

    .ready {
      color: @lime;
    }

    .blocked {
      color: @brick;
    }

    .formatted-id {
      font-family: @noto-sans-bold;
      display: inline;
      padding-left: 12px;
    }

    .workitem-name {
      text-align: left;
      display: inline;
    }

    .icon-to-do {
      font-size: 1.5em;
      color: @darkGrey;
    }
  }

  .bottom-centered {
    width: 34px;
    left: 50%;
    margin-left: -17px;
    bottom: 0px;
    position: relative;
    margin-top: 20px;
  }
}

.add-artifact {
  bottom: 0px;
  background-color: @cyan;
  margin: 0px auto;
  width: 18px;
  height: 18px;
  padding: 5px;
  margin-top: 30px;
}