.listing {
  margin: 0 auto;

  .list-group-item {
    cursor: pointer;
  }
  .unscheduled {
    border-left: 4px solid @nearWhite;
  }
  .scheduled {
    border-left: 4px solid @cyan;
  }
  .completed {
    border-left: 4px solid @blue;
  }

  .item {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .item-id-name {
    overflow: hidden;
  }

  .ready, .blocked {
    width: 22px;
    height: 22px;
    position: absolute;
    left: -28px;
    top: -3px;
    font-size: 1.5em;
  }

  .ready {
    color: @lime;
  }

  .blocked {
    color: @brick;
  }

  .formatted-id {
    font-family: @noto-sans-bold;
    display: inline;
  }

  .workitem-name {
    text-align: left;
    display: inline;
    margin-left: 5px;
  }

  .task-to-do {
    padding-left: 5px;
    padding-right: 0;
  }

  .icon-to-do {
    font-size: 1.2em;
    color: @darkGrey;
  }
  .selection-icon {
    color: @cyan;
    text-align: center;
  }
}

.artifact-association {
  .add-button {
    margin-left: 10px;
  }
}