.listing {
  margin: 0 auto;

  .list-group-item {
    cursor: pointer;
  }
  .item {
    position: relative;
    padding-right: 10px;
  }

  .item-id-name {
    overflow: hidden;
  }

  .ready, .blocked {
    width: 22px;
    height: 22px;
    position: absolute;
    left: -11px;
    top: -3px;
    font-size: 1.5em;
  }

  .ready {
    color: @lime;
  }

  .blocked {
    color: @brick;
  }

  .formatted-id {
    font-family: @noto-sans-bold;
    display: inline;
    padding-left: 12px;
  }

  .workitem-name {
    text-align: left;
    display: inline;
  }

  .icon-to-do {
    font-size: 1.5em;
    color: @darkGrey;
  }
  .selection-icon {
    color: @cyan;
    text-align: center;
  }
}