.login-body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #5E6165;
    margin-top: 0;

    #login {
        .row {
            margin: 0;
        }

        .login-header {
            height: 100px;
            padding-left: 15px;
            background-color: @nearerWhite;

            .logo {
                display: inline-block;
                margin: 20px 0 0 0;
                width: 100px;
                height: 60px;
                background: @nearerWhite 0 0;
                background-repeat: no-repeat;
                .hidpi-background-image('/img/rallyLogo', 'png');
            }

            .slogan {
                display: inline-block;
                color: @logo-red;
                font-size: 1.6em;
                font-family: @proxima-nova-light;
                margin-left: 10px;
            }
        }

        .login-form {
            background: #5E6165 top right;
            background-repeat: no-repeat;
            .hidpi-background-image('/img/login', 'gif');
            color: @white;
            margin-left: 15px;
            margin-right: auto;
            margin-bottom: 0;
            padding-top: 10px;
            height: 320px;

            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.9em;
                font-family: @proxima-nova-light;
                color: @lightGrey;
            }

            .control-label {
                padding-left: 0;
                color: @white;
            }

            .form-group {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;

                div {
                    padding-right: 30px;
                }
            }

            &.copyright {
                margin-top: 40px;
                margin-bottom: 0;
                line-height: 16px;
            }

            .alert {
                display: none;
                margin-right: 15px;
            }

            .forgot-password {
                font-size: 18px;
                margin-top: 10px;
            }
            .forgot-password a, .forgot-password a:hover {
                color: @cyan;
            }
        }
    }
}

#labs-notice {
    margin-top: 20px;

    .labs-icon {
        margin-top: -10px;
        margin-bottom: 10px;
        width: 256px;
        height: 90px;
    }

    .jumbotron {
        font-size: 1.1em;
        padding: 20px;

        h1 {
            margin-top: 0;
        }

    }
}