.login {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #5E6165;

    #content {
        margin: 0;
      
        &.container-fluid {
            padding: 0;
        }

        .login-header {
            height: 100px;
            background-color: @nearerWhite;

            .logo {
                margin: 20px 0 0 20px;
                width: 100px;
                height: 60px;
                background: @nearerWhite 0 0;
                background-repeat: no-repeat;
                .hidpi-background-image('../img/rallyLogo', 'png');
            }
        }

        .login-form {
            color: @white;
            margin-left: 20px;
            margin-right: auto;
            margin-bottom: 0;
            height: 320px;
            background: #5E6165 top right;
            background-repeat: no-repeat;
            .hidpi-background-image('../img/login', 'gif');

            h2 {
                margin: 20px 0 0 0;
                font-size: 28px;
                color: @lightGrey;
            }

            .row-fluid {
                margin-bottom: 5px;

                &.copyright {
                    margin-top: 40px;
                    margin-bottom: 0;
                    line-height: 16px;

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            label {
                font-size: 20px;
                width: 150px;
                display: inline-block;
            }

            .alert {
                display: none;
                margin-right: 15px;
            }

            .forgot-password {
                font-size: 18px;
                margin-top: 10px;
            }
            .forgot-password a, .forgot-password a:hover {
                color: @cyan;
            }
        }
    }
}
