.settings {
    color: @darkGrey;
  
    .project > div, .iteration > div {
        padding-left: 0;
    }

    .form-group {
        padding-bottom: 0;
    }

    .logout {
        padding-left: 0;
        margin-bottom: 10px;
    }

    .list-group-item {
        cursor: pointer;
    }

    .list-group-item .selection-icon, .list-group-item .chevron {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.list-group-item .selection-icon {
    font-size: 1.4em;
    margin-top: -.2em;
    margin-bottom: -.2em;
}

.board-settings {
    h4 {
        margin: 5px 0;
    }

    dl {
        margin: 5px 0 10px 0;
    }

    .list-group-item {
        cursor: pointer;
    }

}