.settings {
    font-size: @largeFont;
    color: @darkGrey;
  
    .row-fluid {
    	padding: 10px 0;

    	[class*="span"] {
    		min-height: 0;
    	}
    }

    label {
        font-weight: bold;
        line-height: 44px;
        text-align: right;
    }

    .project-select {
        margin-top: 7px;
    }
    
    .btn.btn-block {
        padding-bottom: 5px;
    }

    .logout {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.board-settings {
    h4 {
        margin: 5px 0;
    }

    dl {
        margin: 5px 0 10px 0;
    }
}