#header {
  .title {
    padding-top: 10px;
    text-align: center;
    color: @nearWhite;
    font-weight: bold;
  }

  .right-button {
    text-align: right;
  }

  .btn {
    background-image: none;
    // color: @nearWhite;
    .buttonBackground(@darkGrey, @darkGrey, @nearWhite, 0 1px 1px rgba(255,255,255,.75));
    text-shadow: none;

    &.cyan {
      .buttonBackground(@cyan, @cyan, @nearWhite, 0 1px 1px rgba(255,255,255,.75));
      text-shadow: none;
      // color: @white;
    }
  }
}