// Main Palette
@black: #000;
@white: #FFF;
@grey1: #F6F6F6;
@grey2: #E6E6E6;
@grey3: #D6D6D6;
@grey4: #C0C0C0;
@grey5: #A9A9A9;
@grey6: #888;
@grey7: #666;
@grey8: #444;
@grey9: #222;
@logo-red: #EE1C25;
@blue-link: #337EC6;
@cyan: #00A9E0;
@cyan-hover: #29BEFF;
@cyan-med: #82D3ED;
@cyan-lt: #BFE9F5;
@cyan-focus: #CCEEF9;

// Extended Palette
@blue: #005EB8;
@blue-med: #7CAFD7;
@blue-lt: #BDD7EA;
@brick: #B81B10;
@red-med: #F66349;
@red-lt: #F2D3D0;
@lime: #8DC63F;
@lime-med: #CADDA3;
@lime-lt: #E4EECF;
@yellow: #FAD200;
@yellow-med: #FFDD82;
@yellow-lt: #FFEDBF;
@yellow-highlight: #FEF6CC;
@orange: #FF8200;
@orange-med: #FBB990;
@orange-lt: #FDDCC6;
@pink: #DA1884;
@pink-med: #E38CBE;
@pink-lt: #F1C5DD;
@purple: #7832A5;
@purple-med: #B29DCD;
@purple-lt: #D7CCE5;
@teal: #00B398;
@teal-med: #8CD5C8;
@teal-lt: #C3E9E3;

// Aliases
@nearBlack: @grey9;
@darkGrey: @grey8;
@medGrey: @grey4;
@lightGrey: @grey3;
@nearWhite: @grey2;
@nearerWhite: @grey1;

@noto-sans: NotoSans, Helvetica, Arial;
@noto-sans-bold: NotoSansBold, Helvetica, Arial;
@proxima-nova-light: ProximaNovaLight, Helvetica, Arial;
@proxima-nova: ProximaNova, Helvetica, Arial;
@proxima-nova-semi-bold: ProximaNovaSemiBold, Helvetica, Arial;
@proxima-nova-bold: ProximaNovaBold, Helvetica, Arial;

@largeFont: 18px;

@rally-font-path: '../font/rally';
@notosans-font-path: '../font/notosans';
@proximanova-font-path: '../font/proximanova';