.wall{
  h1 {
    font-family: "ProximaNovaBold";
  }
}
.splash {
  .header {
    .btn-container {
      margin-top: 20px;
    }
  }
  .list-group-item {
    cursor: pointer;
  }
  .project-item {
    padding-left: 10px;
  }
}
.swimlane {
  border: solid #999999 1px;
  color: black;
  background: white;
  margin: 2px;
  padding: 5px;
  width: 100%;
  display: block;
  vertical-align: center;
  overflow: auto;

  .teamName { 
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    font-family: "ProximaNovaBold"; 
  }

  .iterationBox {
      display: inline-block;
      vertical-align: top;
      overflow: auto;
      margin: 2px;
      padding: 3px;
      height: 110px;
      color: #333333;
      background: #cccccc;
      font-size: 11px;
      line-height: 12px;
      font-family: "NotoSans";
  }
}
.wrapIcon {
  padding-top: 20px;
}
.mobileIcon {
  font-size: 44px;
}

.flipchart {
  border: solid #999999 1px;
  color: black;
  background: white;
  margin: 2px;
  padding: 5px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  font-family: "ProximaNova";
  height: 500px;
  
    .header {
  	  font-size: 24px;
      line-height: 26px;
  	  margin: 2px;
  	    	    	  
  	  .formattedID {
        font-family: "ProximaNovaBold";
    	  color: #333333;

    	}
  	}
    .title {
      display: inline-block;
  	  font-weight: normal;
  	  width: 100%;
  	}
  	
  	.child {
  	  display: inline-block;
  	  vertical-align: top;
  	  overflow: hidden;
  	  margin: 2px;
  	  width: 30%;
  	  height: 70px;
      color: #333333;
      background: #cccccc;
      cursor: pointer;
      
    	.header {
    	  margin: 2px;
    	  font-size: 9px;
        line-height: 10px;
        font-family: "NotoSans";
        cursor: pointer;
    	}
    	&.on {
    	  border: solid #333333 1px;
    	  border: solid @cyan 2px;
    	  background: @cyan-med;
    	  color: black;
    	  .animated;
  	    .pulse;
    	}
    	.grandchildren {
    	  line-height: .4;
    	}
  	}
 } 	
.grandchild {
  display: inline-block;
  vertical-align: middle;
  background: Silver;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: solid #666 1px;
  &.on {
    background: @cyan-med;
  	border: solid @cyan 1px;
    .animated;
    .pulse;
  }
}
