.wall{
  h1 {
    font-family: "ProximaNovaBold";
  }
}
.splash {
  .header {
    .btn-container {
      margin-top: 20px;
    }
  }
  .list-group-item {
    cursor: pointer;
  }
  .project-item {
    padding-left: 10px;
  }
}
.swimlane {
  border: solid #999999 1px;
  color: black;
  background: white;
  margin: 2px;
  padding: 5px;
  width: 100%;
  display: block;
  vertical-align: center;
  overflow: auto;

  .teamName { 
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    font-family: "ProximaNovaBold"; 
  }

  .iterationBox {
      display: inline-block;
      vertical-align: top;
      overflow: auto;
      margin: 2px;
      padding: 5px;
      height: 110px;
      color: #333333;
      background: white;
      font-size: 11px;
      line-height: 12px;
      font-family: "NotoSans";
      border: solid @grey5 1px;

      &.high {
        border-left: solid @yellow-med 7px;
      }
      &.overloaded {
        border-left: solid @red-med 7px;
      }
      &.responsive {
        border-left: solid @lime-med 7px;
      }
      &.unknown {
        border-left: solid @grey2 7px;
      }

      .dates {
        color: @grey5;
        margin-bottom: 8px;
      }
  }
}
.legendBox {
   color: #333333;
   background: white;
   font-size: 11px;  
   margin: 2px;
   padding: 5px;
   width: 280px;
   overflow: hidden;
   display: inline-block;  
}
.iconLegend{
   display: inline-block; 
   vertical-align: middle;

}
.high {
  border-left: solid @yellow-med 7px;
}
.overloaded {
  border-left: solid @red-med 7px;
}
.responsive {
  border-left: solid @lime-med 7px;
}
.unknown {
  border-left: solid @grey2 7px;
}

.wrap-icon {
  padding-top: 20px;
}
.mobile-icon {
  font-size: 44px;
}
.flipchart {
  border: solid #999999 1px;
  color: black;
  background: white;
  margin: 2px;
  padding: 5px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  font-family: "ProximaNova";
  height: 380px;
  
<<<<<<< HEAD
  .header {
	  font-size: 24px;
    line-height: 26px;
	  margin: 2px;
    cursor: pointer;
	    	    	  
	  .formatted-id {
      font-family: @proxima-nova-semi-bold;
  	  color: @cyan;
  	}
	}
  .title {
    display: inline-block;
	  font-weight: normal;
	  width: 100%;
	}
	
	.featureCard {
	  display: inline-block;
	  vertical-align: top;
	  overflow: hidden;
	  margin: 2px;
	  width: 30%;
	  height: 80px;
    color: #333333;
    background: #cccccc;
    cursor: pointer;
    
  	.header {
  	  margin: 2px;
  	  font-size: 9px;
      line-height: 10px;
      font-family: @noto-sans;
      cursor: pointer;
  	}
  	&.scheduled {
      border: none;
  	  background: @cyan-med;
  	  color: black;
  	  .animated;
	    .pulse;
  	}
  	.storyBoxes {
  	  line-height: .4;
  	}
	}
}
    
=======
    .header {
      font-size: 24px;
      line-height: 26px;
      margin: 2px;
      cursor: pointer;
                  
      .formatted-id {
        font-family: @proxima-nova-semi-bold;
        color: @cyan;
      }
    }
    .title {
      display: inline-block;
      font-weight: normal;
      width: 100%;
    }
    
    .featureCard {
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      margin: 2px;
      width: 30%;
      height: 80px;
      color: #333333;
      background: #cccccc;
      cursor: pointer;
      
      .header {
        margin: 2px;
        font-size: 9px;
        line-height: 10px;
        font-family: "NotoSans";
        cursor: pointer;
      }
      &.scheduled {
        border: none;
        background: @cyan-med;
        color: black;
        .animated;
        .pulse;
      }
      .storyBoxes {
        line-height: .4;
      }
    }
 }  
>>>>>>> 78cf56d... Legend now appears at the bottom of the page
.storyBox {
  display: inline-block;
  vertical-align: middle;
  background: #eee;
  width: 12px;
  height: 12px;
  margin: 2px;
  
  &.scheduled {
    border: solid @cyan 2px;
    background: @cyan;
    color: black;
    .animated;
    .pulse;
  }
  &.completed {
    background: @blue;
    border: none;
  }
}
.navbar-inverse {
  color: @grey3;
}
