<div class="detail-view">
  <div class="row-fluid">
    <div class="span12" id="NameView">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8" id="ScheduleStateView"></div>
    <div class="span2 offset2" id="OwnerView"></div>
  </div>
  <div class="row-fluid">
    <div class="span3" id="PlanEstimateView"></div>
    <div class="span3" id="TasksView"></div>
    <div class="span3" id="DefectsView"></div>
    <div class="span2 offset1" id="DiscussionView"></div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="DescriptionView"></div>
  </div>
  <div class="row-fluid">
    <div class="span6 toggle" id="BlockedView"></div>
    <div class="span6 toggle" id="ReadyView"></div>
  </div>
</div>