{{#unless onLoginScreen}}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="row">
    <div class="col-xs-2">{{{ this.left_button }}}</div>
    <div class="col-xs-8 title"><p class="ellipsis">{{ this.title }}</p></div>
    <div class="col-xs-2 right-button">{{{ this.right_button }}}</div>
  </div>
</div>
{{/unless}}