<div class="header-container" id="header"></div>

<div class="navigation-container page left" id="navigation"></div>

<div class="page-container page transition center" id="page-container">
    <div class="content-container container-fluid" id="content"></div>
</div>
<div id="mask" style="display: none;"></div>