<form class="replyForm">
    <div class="row-fluid reply">
    	<input type="text" class="span9" placeholder="Enter comments"/>
    	<button type="submit" class="btn rally-button">Reply</button>
    </div>
</form>
<div class="row-fluid listing"></div>