<div>
    <h2>My Work</h2>
    <table class="table table-striped">
        <thead>
            <th>Formatted ID</th>
            <th>Name</th>
            <th>State</th>
        </thead>
        <tbody>
        	{{#each stories}}
            <tr>
            	<td>{{this.FormattedID}}</td>
                <td>{{this.Name}}</td>
            	<td>{{this.ScheduleState}}</td>
            </tr>
        	{{/each}}
        </tbody>
    </ul>
</div>