<div>
    <h2>My Work</h2>
    <table class="table table-striped">
        <thead>
            <th>Formatted ID</th>
            <th>Name</th>
        </thead>
        <tbody>
        	{{#each stories}}
            <tr>
            	<td>{{this.formattedID}}</td>
            	<td>{{this.name}}</td>
            </tr>
        	{{/each}}
        </tbody>
    </ul>
</div>