<form class="form-inline reply-form" role="form">
    <div class="discussion-reply">
	    <label class="sr-only" for="comment-input">Comment</label>
	    <span><input type="text" style="width: 100%" id="comment-input" class="form-control" placeholder="Enter comments"/></span>
		<button type="submit" class="btn btn-primary" style="width: 100px;">Reply</button>
    </div>
</form>
<div class="listing"></div>