<div>{{field}}</div>
<div class="well">
    <div class="status-value defects">
        <div class="status-icon NONE_CLOSED"/>
        <span class="count">{{fieldValue.NumberOfAllChildren}}</div>
    </div>
</div>
