<div class="owner-field pull-right">
    {{#if fieldValue}}
        <div class="profile-image" style="background-image: url(http://mparrish-15mbr.f4tech.com/slm/profile/image/{{fieldValue.ObjectID}}/80.sp); background-repeat: no-repeat; background-size: contain;"/>
        <div class="name ellipsis">{{fieldValue.DisplayName}}</div>
    {{else}}
        <div class="profile-image no-owner"/>
        <div class="name">Claim</div>
    {{/if}}
</div>
