<div class="span2 arrows-left">
    <div class="well well-small lt{{#if cantGoLeft}} disabled{{/if}}">&lt;</div>
</div>
<div class="span8 arrows-center">
	<div class="well well-small">
		{{fieldValue}}
	</div>
</div>
<div class="span2 arrows-right">
    <div class="well well-small gt{{#if cantGoRight}} disabled{{/if}}">&gt;</div>
</div>
