<div class="span2 arrows-left"><div class="well well-small lt">&lt;</div></div>
<div class="span4 arrows-center">
	<div class="well well-small">
		{{fieldValue}}
	</div>
</div>
<div class="span2 arrows-right"><div class="well well-small gt">&gt;</div></div>
