<div>{{field}}</div>
<div class="well">
    <div class="status-value tasks">
        <div class="status-icon DEFINED"/>
        <div class="separator"/>
        <div class="percentage">{{fieldValue.NumberOfAllChildren}}</div>
    </div>
</div>
