<div class="row-fluid home-view-wrap">
    <div class="btn-group">
        {{#each defects}}
            <button class="btn btn-block" id="userstory/{{this.ObjectID}}">
                <div class="span2 formatted-id">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class={{state this.Blocked this.Ready}}></div>
                        </div>
                        <div class="span9">{{this.FormattedID}}</div>
                    </div>
                </div>
                <div class="span9 workitem-name">{{this.Name}}</div>
                <div class="span1 chevron"> > </div>
            </button>
        {{/each}}
    </div>
</div>