<div class="row-fluid">
	<ul class="nav nav-pills">
		<div class="span4">
			<li class="active" id="user-stories-nav-button">
	    		<a href="#">Stories</a>
	  		</li>
	 	</div>
	 	<div class="span4">
			<li id="defects-nav-button">
		  		<a href="#">Defects</a>
		  	</li>
		</div>
		<div class="span4">
			<li id="tasks-nav-button">
		  		<a href="#">Tasks</a>
		  	</li>
		 </div>
	</ul>
</div>