<div id="home-view-navigation">
	<ul class="nav nav-pills btn-group">
		<li class="active btn">
			<a href="#" data-toggle="pill" data-target="#user-stories-view">Stories</a>
		</li>
		<li class="btn">
			<a href="#" data-toggle="pill" data-target="#tasks-view">Tasks</a>
		</li>
		<li class="btn">
			<a href="#" data-toggle="pill" data-target="#defects-view">Defects</a>
		</li>
	</ul>
</div>

<div class="tab-content">
	<div class="tab-pane active" id="user-stories-view"></div>
	<div class="tab-pane" 		 id="tasks-view"></div>
	<div class="tab-pane" 		 id="defects-view"></div>
</div>