<div class="row-fluid home-view-wrap">
    <div class="btn-group">
        {{#each tasks}}
            <button class="btn btn-block" id="userstory/{{this.ObjectID}}">
                <div class="span2 formatted-id">
                    <div>{{this.FormattedID}}</div>
                </div>
                <div class="span7 workitem-name">{{this.Name}}</div>
                <div class="span1 task-clock"></div>
                <div class="span1 task-to-do"></div>
                <div class="span1 chevron"></div>
            </button>
        {{/each}}
    </div>
</div>
