{{#unless onLoginScreen}}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">{{{ this.left_button }}}</div>
        <div class="span8 title"><p class="ellipsis">{{ this.title }}</p></div>
        <div class="span2 right-button">{{{ this.right_button }}}</div>
      </div>
    </div>
  </div>
</div>
{{/unless}}