<div class="detail-view new">
  <div class="row-fluid">
    <div class="span12" id="NameView"></div>
  </div>
  <div class="row-fluid">
    <div class="span8" id="StateView"></div>
    <div class="span2 offset2" id="OwnerView"></div>
  </div>
  <div class="row-fluid">
    <div class="span5" id="EstimateView"></div>
    <div class="span5" id="ToDoView"></div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="DescriptionView"></div>
  </div>
  <div class="row-fluid">
    <div class="span4 offset2 toggle display" id="save">
      <button class="btn btn-large rally-button">Save</button>
    </div>
    <div class="span4 toggle display" id="cancel">
      <button class="btn btn-large">Cancel</button>
    </div>
  </div>
</div>