<div class="detail-view">
  <div class="row">
    <div class="col-xs-12" id="NameView"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="WorkProductView"></div>
  </div>
  <div class="row">
    <div class="col-xs-8" id="StateView"></div>
    <div class="col-xs-4" id="OwnerView"></div>
  </div>
  <div class="row">
    <div class="col-xs-5" id="EstimateView"></div>
    <div class="col-xs-5" id="ToDoView"></div>
    <div class="col-xs-2" id="DiscussionView"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="DescriptionView"></div>
  </div>
</div>