<div class="detail-view">
  <div class="row">
    <div class="col-xs-12" id="NameView">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8" id="{{ScheduleStateFieldName}}View"></div>
    <div class="col-xs-4" id="OwnerView"></div>
  </div>
  <div class="row">
    <div class="col-xs-3" id="PlanEstimateView"></div>
    <div class="col-xs-3" id="TasksView"></div>
    <div class="col-xs-3" id="DefectsView"></div>
    <div class="col-xs-3" id="DiscussionView"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="DescriptionView"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"/>
    <div class="col-xs-5 toggle" id="BlockedView"></div>
    <div class="col-xs-5 toggle" id="ReadyView"></div>
    <div class="col-xs-1"/>
  </div>
</div>