<div class="row-fluid">
  <div class="span12">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      {{#each projects}}
      <li><a tabindex="-1" href="#">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>