<div class="row-fluid settings">
  <div class="span12">
    <select>
      {{#each projects}}
        <option value="{{ attributes._ref }}">{{ attributes._refObjectName }}</option>
      {{/each}}
    </select>
  </div>
  <div class="span12">
      <label class="show-work">Show:</label>
    <div class="btn-group">
        <button class="btn">My Work</button>
        <button class="btn">My Team</button>
    </div>
  </div>
</div>