<div class="well-title">{{field}}</div>
<div class="well well-small">
    <div class="status-value defects">
        <div class="status-icon NONE_CLOSED"/>
        <div class="separator"/>
        <span class="count">{{fieldValue.NumberOfAllChildren}}</div>
    </div>
</div>
