<div class="well-title">{{field}}</div>
<div class="well well-small">
    <div class="status-value tasks">
        <div class="status-icon DEFINED"/>
        <div class="separator"/>
        <div class="count">{{fieldValue.NumberOfAllChildren}}</div>
    </div>
</div>