<button class="btn btn-block" id="defect/{{defect.ObjectID}}">
    <div class="span2 formatted-id">
        <div class="row-fluid">
            <div class="span4">
                <div class={{state defect.Blocked defect.Ready}}></div>
            </div>
            <div class="span8">{{defect.FormattedID}}</div>
        </div>
    </div>
    <div class="span9 workitem-name">{{defect.Name}}</div>
    <div class="span1 chevron"></div>
</button>
