<button class="btn btn-block" id="userstory/{{story.ObjectID}}">
    <div class="span2 formatted-id">
        <div class="row-fluid">
            <div class="span4">
                <div class={{state story.Blocked story.Ready}}></div>
            </div>
            <div class="span8">{{story.FormattedID}}</div>
        </div>
    </div>
    <div class="span9 workitem-name">{{story.Name}}</div>
    <div class="span1 chevron"><i class="icon-chevron-right"></i></div>
</button>
