<button class="btn btn-block" id="userstory/{{story.ObjectID}}">
    <div class="span11 item">
        <div class={{state story.Blocked story.Ready}}></div>
        <div class="item-id-name">
            <div class="formatted-id">{{story.FormattedID}}</div>
            <div class="workitem-name">{{story.Name}}</div>
        </div>
    </div>
    <div class="span1 chevron"><i class="icon-chevron-right"></i></div>
</button>
