<div class="row" id="{{ObjectID}}">
	<div class="col-xs-11 item">
	    <div class="{{state Blocked Ready}}"></div>
	    <div class="item-id-name">
	        <div class="formatted-id">{{FormattedID}}</div>
	        <div class="workitem-name">{{Name}}</div>
	    </div>
	</div>
	<div class="col-xs-1 chevron"><i class="icon-chevron-right"></i></div>
</div>