<div id="search-view">
  <form class="form-inline search-form" role="form">
      <div class="input-row">
        <label class="sr-only" for="search-input">Search keywords</label>
        <span><input type="text" id="search-input" class="form-control" placeholder="Search keywords" value="{{keywords}}"/></span>
      <button type="submit" class="btn btn-primary">Search</button>
      </div>
  </form>
  <div class="listing">
    <div class="well no-results" style="display: none">No results matched your search.</div>
  </div>
</div>