<form class="form-horizontal login-form">
  <legend>Rally ALM Mobile</legend>
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="email" id="username" placeholder="Username" value="ue@test.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" placeholder="Password" value="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" id="remember-me"> Remember me
      </label>
      <button type="submit" class="btn btn-primary sign-in">Sign in</button>
    </div>
  </div>
</form>