<div class="row-fluid login-header">
  <div class="span12">
  </div>
</div>
<form class="login-form">
  <fieldset>
    <div class="row-fluid">
      <h2>LOGIN</h2>
    </div>
    <div class="alert alert-error">
    </div>
    <div class="row-fluid">
      <label class="control-label" for="username">Username</label>
      <input class="input-large" type="email" id="username" placeholder="Username" value="ue@test.com">
    </div>
    <div class="row-fluid">
      <label class="control-label" for="password">Password</label>
      <input class="input-large" type="password" id="password" placeholder="Password" value="Password">
    </div>
    <div class="row-fluid">
      <button type="submit" class="btn btn-large btn-primary sign-in">Login</button>
    </div>
    <div class="row-fluid">
      <div class="forgot-password"><a href="#">Forgot your password?</a></div>
    </div>
  </fieldset>
  <div class="row-fluid copyright">
    <p><small>&copy; 2003-2012 Rally Software Development Corp.</small></p>
  </div>
</form>