<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">{{{ this.left_button }}}</div>
        <div class="span6" style="text-align:center">{{ this.title }}</div>
        <div class="span3" style="text-align:right">{{{ this.right_button }}}</div>
      </div>
    </div>
  </div>
</div>