<div id="artifact-association">
  <h4>
    <span class="picto {{iconCls}}"/>
    {{association}}
  </h4>
  <div class="listing">
    <div class="well no-data" style="display: none">This story has no {{toLowerCase association}}</div>
  </div>
</div>