<div id="defects-of-story">
  <h4>
    <span class="picto icon-defect"/>
    Defects
  </h4>
  <div class="listing">
    <div class="well no-data" style="display: none">This story has no defects</div>
  </div>
</div>