<div class="jumbotron">
	<div class="container">
		<img class="labs-icon" src="/img/labs.png"/>
		<p>Use of this mobile application is on an as-is, as-available basis and it not subject to Rally’s Service Level Agreement.  Support of this mobile application, evolution of this application and even ongoing existence of this Rally Labs mobile application is not guaranteed.</p>
		<p><a class="btn btn-primary btn-lg accept">Accept</a> <a class="btn btn-lg reject">Reject</a></p>
	</div>
</div>