<div class="column-container">
{{#each columns}}
	<div class="column-cell" id="col-{{{toCssClass this}}}"></div>
{{/each}}
{{#unless columns}}
	<div class="row-fluid">
		<div class="span6 offset3 well no-columns">
			<p>Your board does not have any columns.</p>
			<p>Click the <a href="/settings"><i class="icon-cog"/></a> gear icon to set up your board.</p>
		</div>
	</div>
{{/unless}}
</div>
