{{#if iteration}}
  <div class="iteration-header">
    <dl class="dl-horizontal">
      <dt>Iteration:</dt>
      <dd class="name">{{iteration.Name}}</dd>
      <dd class="dates">{{date iteration.StartDate}} - {{date iteration.EndDate}}</dd>
    </dl>
  </div>
{{/if}}
<div class="column-container">
{{#each columns}}
	<div class="column-cell" id="col-{{{toCssClass this}}}"></div>
{{/each}}
{{#unless columns}}
	<div class="row-fluid">
		<div class="span8 offset2 well no-columns">
			<p>Your board for this project does not have any columns.</p>
			<p>Click the <a href="/settings"><i class="icon-cog"/></a> icon to configure your board.</p>
		</div>
	</div>
{{/unless}}
</div>
